<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_area :manufacturer, id: :part_manufacturer %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_area :model, id: :part_model %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :part_name %>
  </div>

  <div class="field">
    <%= form.label :machine_id %>
    <%= form.text_field :machine_id, id: :part_machine_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :part_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
