<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @part.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @part.model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @part.machine %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@part.price) %>
</p>

<%= link_to 'Edit', edit_machine_part_path(@machine, @part) %> |
<%= link_to 'Back', machine_parts_path(@machine) %>
