<p id="notice"><%= notice %></p>

<h2>Details</h2>

<p>
  <strong>Manufacturer:</strong>
  <%= @machine.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @machine.model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @machine.name %>
</p>

<hr>

<h2>Parts</h2>

<%= render 'parts/listing' %>

<%= render 'downtimes/listing' %>

<h3>Total downtime: <%= distance_of_time_in_words(@downtime_count) %></h3>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
